body{
    background-color: #ffffff;
    font-family: "Raleway";
    color: #6c6c6c;
    height: 2000px;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav{
    padding: 40px 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-weight: 500;
    font-size: 30px;
    color: #6c6c6c;
}
.menu{
    display: flex;
}
.menu__item{
    margin: 0 15px;
}
.menu__item a{
    font-size: 14px;
    color: #6c6c6c;
}
.menu__item a:hover{
    color: #ec5483;
}

header{
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 150px 0;
    text-align: center;   
}
.header__text{
    font-weight: 200;   
    font-size: 40px;
    margin-bottom: 60px;
}
.header__text span{
    font-weight: 600;
}
.header__btn{
    background: #ec5483;
    color: #fff;
    font-weight: 500;
    font-size: 18px; 
    padding: 17px 66px;
    border-radius: 25px;
    display: inline-block;
}
.header__btn::after{
    content: url("..//images/arrow-right.png");
    margin-left: 10px;
}
.header__btn:hover{
    background: #df4b7a;
}

/* FEATURES */
.features .container, .team .container, .brands .container, .news .container, .services .container, .posts .container, .sign .container{
    padding: 100px 0;
}
.features-item{
    text-align: center;
    width: 30%;
}
.features__icon img{
    height: 50px;
}
.features__text{
    font-size: 14px;
    line-height: 26px;
    margin: 40px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.features__more{
    text-transform: uppercase;
    color: #615f5f;
    font-weight: 600;
    font-size: 13px;
}
.features__more:hover{
    color:#ec5483;
}
.features__more::after{
    content:url("..//images/arrow-right_gray.png");
    margin-left: 7px;
    display: inline-flex;
    align-items: center;
}
/* TEAM */
.team, .news{
    background: #fcfcfc;
}
.team-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}
.team__text{
    padding: 40px 23px;
    border:1px solid #e6e6e6;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.team__img{
    display: block;
    border-radius:50%;
    margin: 20px 0;
}
.team__title_name{
    color: #686868;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
}
.team__subtitle_profession{
     font-weight: 200;
     color:#939393;
     font-size: 14px;
}
.team__text_arrow{
    height: 9px;
    width: 9px;
    border:1px solid #e6e6e6;
    position: relative;
    left: -5px;
    transform: rotate(45deg) translateY(-75%);
    background: #fcfcfc;
    border-top: 0;
    border-left: 0;
}
/* BRANDS */
.brands-item{
    padding: 19px 27px ;
    border:3px solid #eae8e8;
    color:#eae8e8;
    font-family: "Open Sans";
    text-align: center;
}
.brands-item a{
    color:  #eae8e8;
}
.brands__text{
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.brands__tag{
font-weight: 300;
font-size: 8px;
}
/* NEWS */
.news-item{
    width: 45%;
    overflow: hidden;
}
.news__img img{
    margin-bottom: 40px;
}
.news__title{
    margin-bottom: 14px;
}
.news__title a{
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6c6c6c;
}
.news__date{
    font-weight: 300;
}
/* services */
.services .container{
    flex-wrap: wrap;
}
.services img{
    height: 40px;
}
.services-item{
    display: flex;
    width: 45%;
    margin-bottom: 60px;
}
.services__text{
    margin: -6px 0 30px 0 ;
}
.services-text{
    margin-left: 20px;
}
/* POSTS */
.posts{
    background: #fcfcfc;
}
.posts .container{
    display: block;
}
.posts__img{
    height: 155px;
}
.posts-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.posts-content{
    margin-left: 40px;
}
.posts__title{
    margin: -5px 0 23px;
}
.posts__title a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #6c6c6c;
}
.posts__text{
    font-size: 14px;
    line-height: 26px;
}
/* SIGN UP */
 .sign .container{
     flex-direction: column;
     align-items: center;
 } 
.sign__text{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    color:#686868;
    line-height: 30px;
    margin-bottom: 55px;
    text-align: center;
}
.sign__text span{
    font-weight: 600;
}
.sign__btn{
    text-transform: uppercase;
    border-radius:0;
    padding:18px 50px;
    background: #ec5483;
    color: #fff;
    font-weight: 500;
    font-size: 18px; 
} 
.sign__btn:hover{
    background: #df4b7a;}
    /* FOOTER */
    footer{
        background:#38404b;
    }
    footer .container{
        padding: 80px 0;
        flex-direction:column;
        align-items: center;
    }
    footer .logo{
        margin-bottom: 62px;
    }
    footer .logo a{
        color: #fff;
    }
    footer .menu{
        margin-bottom: 40px;
    }
    footer .menu a{
        color: #bcc9dd;
    }
    footer .copyright{
        font-size: 12px;
        color: #bcc9dd ;
    }
    footer .copyright a{
         color: #e9edf4;
         font-weight: 600;
    }
    
    
    
    @media screen and (max-width:630px){
        nav .container{
            padding: 0 30px;
        }
        .features .container{
            flex-direction: column;
            align-items: center;
        }
        .features-item:not(:last-child){
            margin-bottom: 60px;
        }
        .team .container{
            flex-direction: column;
            align-items: center;
        }
        .team-item:first-child{
            margin-bottom: 60px;
        }
        .brands .container{
            flex-wrap: wrap;
            width:50%;
        }
        .brands-item:nth-child(1){
            margin-bottom: 60px;
        }
        .brands-item:nth-child(2){
            margin-bottom: 60px;
        }
        .news .container{
            flex-direction: column;
            align-items: center;
        }
        .news-item:first-child{
            margin-bottom: 60px;
        }
        .services .container{
            flex-direction: column;
            align-items: center;
        }
        .posts {
            padding: 0 30px;
        }
        .posts-item{
            align-items: center;
        }
        .sign__text{
            max-width: 80%;
        }
    }
    @media screen and (max-width:550px){
        .brands .container{
            width: 250px;
            justify-content: center;
        }
        .brands-item:nth-child(1){
            margin-bottom: 20px;
        }
        .brands-item:nth-child(2){
            margin-bottom: 20px;
        }
        .brands-item{
            margin-bottom: 20px;
        }
        .posts-item{
                flex-direction: column;   
                align-items:center;
                justify-content: space-between; 
        }
        .posts-item:first-child{
            margin-bottom: 80px;
        }
        .posts__img{
            display: block;
            margin-bottom: 50px;
        }
        .team-item{
            width:70%
        }
        .news-item{
            width: 70%;
        }
        .services-item{
            width:70%;
        }
        .features-item{
            width:70%;
        }
    }
    @media screen and (max-width:400px){
        .container{
            width:100%;
        }
        .menu__item{
            margin: 0 5px;
        }
    }